{% extends 'view_not_log_in_base.html' %}
{%  load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>WordMaster</title>



    <link rel="stylesheet" href={% static "basic-app.css" %}>

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

</head>
<body>

    {% block page_content %}

    <form class = 'uk-form-stacked' method="POST">
        {% csrf_token %}
         {% for field in register_form %}
            <div class="uk-margin">
                <label>{{ field.label_tag }}</label>
                <div class="uk-form-controls">
                    {{ field }}
                </div>
                <div class="uk-text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class = 'uk-button uk-button-default'>
            Zarejestruj
        </button>
    </form>

    {% endblock %}
</body>





</html>


