{%  load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block page_title %}WordMaster{% endblock %}</title>
    <link rel = "stylesheet" href="{% static 'css/uikit.min.css' %}">

    <script src="{%  static 'js/uikit.min.js'%}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

</head>
<body>

<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <!-- Możesz dodać inne elementy nawigacji tutaj -->
            </div>

            <div class="uk-navbar-center ">
                <h1 class="uk-heading-medium uk-heading-line">{{title_app}}</h1>
            </div>

            <div class="uk-navbar-right uk-flex uk-flex-middle">
            
                <div class="uk-navbar-item uk-visible@m">
                    <span uk-icon="users"></span>
                </div>
                {% if user.is_authenticated %}
                    <div class="uk-navbar-item  uk-visible@m">
                        {{ user.get_username|upper }}
                    </div>
                {% endif %}
                
                <div class="uk-navbar-item ">
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="uk-button uk-button-default">
                                Wyloguj
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
    
    
    <div>
    
    
        <ul class = "uk-nav uk-flex uk-flex-center uk-text-center">
            <li class = 'uk-width-1-3@s uk-width-1-3@m uk-width-1-3@l '><a  href='{% url 'choice_category_url' %}' class="uk-button uk-button-default uk-border-rounded uk-text-center uk-flex uk-flex-center uk-flex-middle"> Kategorie </a></li>
            <li class = 'uk-width-1-3@s uk-width-1-3@m uk-width-1-3@l '><a  href='{% url 'review_words_view_url' %}' class="uk-button uk-button-default uk-border-rounded uk-text-center uk-flex uk-flex-center uk-flex-middle"> Powtórki </a></li>
            <li class = 'uk-width-1-3@s uk#-width-1-3@m uk-width-1-3@l '><a  href='{% url 'quiz_filter_view_url' %}' class="uk-button uk-button-default uk-border-rounded uk-text-center uk-flex uk-flex-center uk-flex-middle"> Quiz</a></li>
        </ul>
    
    </div>
    
    
    
    

{% block page_content %}{% endblock %}

</body>
</html>